<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Spider Price{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/dist/css/select2.min.css') }}" rel="stylesheet" />
            <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2-bootstrap/select2-bootstrap.css') }}" rel="stylesheet" />
            <link rel="stylesheet" type="text/css" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="import" href="{{ asset('vendor/paper-button/paper-button.html') }}">
        <link rel="import" href="{{ asset('vendor/paper-card/paper-card.html') }}">
        <link rel="import" href="{{ asset('vendor/paper-fab/paper-fab.html') }}">
        <link rel="import" href="{{ asset('vendor/iron-icons/iron-icons.html') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <script type="text/javascript" src="{{ asset('vendor/webcomponentsjs/webcomponents-lite.js') }}"></script>
    </head>
    <body style="padding-top:60px;">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendor/webcomponentsjs/webcomponents-lite.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendor/select2/dist/js/select2.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('vendor/highcharts/highcharts.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendor/highcharts/modules/drilldown.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendor/highcharts/modules/exporting.js') }}"></script>

            <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
        {% endblock %}
    </body>
</html>

