{% extends 'base.html.twig' %}

{% block body %}
    {% include 'polymer.html.twig' %}
    {% include 'navbar.html.twig' %}
    <div class="container">
        {% include 'flash.html.twig' %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}