<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path ( 'product_list' ) }}">
                <img src="{{ ('/images/logo.png') | imagine_filter('logo_thumb') }}" alt="spiderprice">
            </a>
        </div>
        <div id="navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('security_logout') }}">
                                <span class="glyphicon glyphicon-off"></span> Desconexión
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <p class="navbar-text navbar-right"><span class="glyphicon glyphicon-user"></span> {{ app.user }}</p>
        </div>
    </div>
</nav>