Nombre|Url|Categoría|Competidor|Último precio|Precio anterior|Precio máximo|Precio mínimo
{% for product in pagination %}
    {{- product.name -}}|
    {{- product.url -}}|
    {{- product.category -}}|
    {{- product.website -}}|
    {{- product.lastPrice~' €' -}}|
    {{- product.previousPrice~' €' -}}|
    {%- if product.pricesValues is empty or product.lastPrice > max(product.pricesValues) -%}
        {{- product.lastPrice~' €' -}}|
    {%- else -%}
        {{- max(product.pricesValues)~' €' -}}|
    {%- endif -%}
    {% if product.pricesValues is empty or product.lastPrice < min(product.pricesValues) %}
        {{- product.lastPrice~' €' }}
    {% else %}
        {{- min(product.pricesValues)~' €' }}
    {% endif %}
{% endfor %}