{% extends 'layout.html.twig' %}

{% block content %}
    <div class="page-header row">
        <h1>Búsqueda de productos</h1>
    </div>

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-inline', 'novalidate': ''} }) }}
            {{ form_widget(form.name, {'attr': {'placeholder': 'Nombre'} }) }}
            {{ form_widget(form.category) }}
            {{ form_widget(form.website) }}

            <button class="btn btn-default" type="search">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        {{ form_end(form) }}
    </div>

    {% if series|length and pagination|length %}
        <div class="panel-body">
            <div id="chart"></div>
        </div>
    {% endif %}

    {% if pagination|length %}
        <div class="well well-sm">
            <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({'_format': 'csv'})) }}" class="btn btn-default">
                <span class="fa fa-download"></span> Descargar csv
            </a>
        </div>
        <div class="panel-body">
            <span>Total: {{ pagination.getTotalItemCount }}</span>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="panel panel-default">
            <div class="table-responsive">
                <table id="mainTable" class="table table-hover display" cellspacing="0">
                    <thead>
                        <tr class="primary">
                            <th>#</th>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Categoría</th>
                            <th>Página web</th>
                            <th></th>
                            <th>Último precio</th>
                            <th>Precio anterior</th>
                            <th>Precio máximo</th>
                            <th>Precio mínimo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in pagination %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td><paper-card style="text-align:center; width:80px;"><img alt="{{ product.img }}" src="{{ ('/uploads/'~product.img) | imagine_filter('list_thumb') }}"></paper-card></td>
                                <td>{{ product.name|slice(0, 30) }} ...</td>
                                <td>{{ product.category.name }}</td>
                                <td>{{ product.website }}</td>
                                <td>
                                    {% if product.pricesValues|length >= 2 %}
                                        {% if product.lastPrice > product.previousPrice %}
                                            <span class="glyphicon glyphicon-triangle-top text-success"></span> <span class="label label-success">+ {{ product.percentageLastPrice|number_format(2) }} %</span>
                                        {% elseif product.lastPrice < product.previousPrice %}
                                            <span class="glyphicon glyphicon-triangle-bottom text-danger"></span> <span class="label label-danger">{{ product.percentageLastPrice|number_format(2) }} %</span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-minus text-primary"></span>
                                        {% endif %}
                                    {% else %}
                                            <span class="glyphicon glyphicon-minus text-primary"></span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if product.lastPrice <= 0 or (product.disableCounter > 2) %}
                                        Agotado
                                    {% else %}
                                        {{ product.lastPrice }} €
                                    {% endif %}
                                </td>
                                <td>
                                    {% if product.pricesValues|length > 1 %}
                                        {% if ((product.previousPrice) <= 0) or (product.disableCounter > 2) %}
                                            Agotado
                                        {% else %}
                                            {{ product.previousPrice }} €
                                        {% endif %}
                                    {% else %}
                                        Agotado
                                    {% endif %}
                                </td>
                                <td>
                                    {% if product.pricesValues is empty or product.lastPrice > max(product.pricesValues) %}
                                        {% if (product.lastPrice <= 0) or (product.disableCounter > 2) %}
                                            Agotado
                                        {% else %}
                                            {{ product.lastPrice }} €
                                        {% endif %}
                                    {% else %}
                                        {% if max(product.pricesValues) <= 0 or (product.disableCounter > 2) %}
                                            Agotado
                                        {% else %}
                                            {{ max(product.pricesValues) }} €
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if product.pricesValues is empty or product.lastPrice < min(product.pricesValues) %}
                                        {% if (product.lastPrice <= 0) or (product.disableCounter > 2) %}
                                            Agotado
                                        {% else %}
                                            {{ product.lastPrice }} €
                                        {% endif %}
                                    {% else %}
                                        {% if min(product.pricesValues) <= 0 or (product.disableCounter > 2) %}
                                            Agotado
                                        {% else %}
                                            {{ min(product.pricesValues) }} €
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="text-right text-nowrap">
                                    <a href="{{ path('product_show', {'id': product.id}) }}">
                                        <paper-fab mini icon="list" class="blue"></paper-fab>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}
{% block javascripts%}
    {{ parent() }}
    <script src="{{ asset('js/graphics.js') }}"></script>
    <script type="text/javascript">splineGraphic({{ series|raw }});</script>
{% endblock %}