{% extends 'layout.html.twig' %}

{% set colWidth = 30 %}

{% block content %}

    <div class="container" style="margin-top:1.2em;">
        <div class="page-header row">
            <img class="col-md-4" alt="{{ product.img }}" src="{{ asset('uploads/')}}{{ product.img }}" style="width: 128px;"></img><h2 class="col-md-8">{{ product }}</h2>
        </div>
    </div>


    <div class="panel panel-default">

        {% if series|length and product|length %}
            <div class="panel-body">
                <div id="chart"></div>
            </div>
            {% else %}
            <div class="panel-body">
                No hay ningun valor por el momento.
            </div>
        {% endif %}

        {% if product|length %}
            <div class="well well-sm">
                <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({'_format': 'csv'})|merge({'id': product.id})) }}" class="btn btn-default">
                    <span class="fa fa-download"></span> Descargar csv
                </a>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="primary">
                            <th>Lista de precios</th>
                            <th>Empresa</th>
                            <th>Uri del producto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {% if product.prices|length >= 5 %}
                                    ...
                                    {% for price in product.prices[(product.prices|length - 5):] %}
                                        {% if price.value <= 0 or (product.disableCounter > 2)%}
                                            <paper-card><span class="label label-primary">Agotado</paper-card>
                                        {% else %}
                                        <paper-card><span class="label label-primary">{{ price }} €</span></paper-card>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for price in product.prices %}
                                        {% if price.value <= 0 or (product.disableCounter > 2)%}
                                            <paper-card><span class="label label-primary">Agotado</paper-card>
                                        {% else %}
                                        <paper-card><span class="label label-primary">{{ price }} €</span></paper-card>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>{{ product.webSite }}</td>
                            <td><a href="{{ product.url }}" target="_blank">{{ product.url|slice(0, 30) }} {% if product.website.name != 'Telecor' %}...{% endif %}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if product.features|length %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="primary">
                                <th>Características</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Nombre</th>
                                <th>Valor</th>
                            </tr>
                            {% for feature in product.features %}
                                <tr>
                                    {% if feature.name != "" %}
                                        <td>{{ feature.name }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% if feature.value != "" %}
                                        <td>{{ feature.value }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="panel-body">
                    No hay ninguna característica por el momento.
                </div>
            {% endif %}
        {% else %}
        <div class="panel-body">
            No hay ningun valor por el momento.
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts%}
    {{ parent() }}
    <script src="{{ asset('js/graphics.js') }}"></script>
    <script type="text/javascript">splineGraphic({{ series|raw }});</script>
{% endblock %}