Nombre|Url|Categoría|Competidor|Último precio|Precio anterior|Lista de precios
{{ product.name }}|
{{- product.url -}}|
{{- product.category -}}|
{{- product.website -}}|
{{- product.lastPrice~' €' -}}|
{{- product.previousPrice~' €' -}}|
{%- for price in product.pricesValues -%}
    {{- price~' €, ' -}}
{%- endfor -%}|
Lista de características|
Nombre|Valor
{% for feature in product.features %}
	{{- feature.name -}}|
	{{- feature.value -}}|
{% endfor %}