{% extends "base.html.twig" %}

{% block body_id 'signin' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="page-header">
                    <h1>Login</h1>
                </div>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <form action="{{ path('security_check') }}" method="POST">
                    <div class="form-group">
                        <input type="text" name="_username" value="{{ lastUsername }}" placeholder="Usuario" class="form-control input-lg" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="_password" placeholder="Contraseña" class="form-control input-lg" />
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <hr />
                    <button type="submit" class="btn btn-block btn-lg btn-primary">Conexión</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}